.list {
  @include list-reset;
}

.list__link,
.list-title,
.list-title a {
  color: $color-blue;
  font-size: 14px;
  line-height: 23px;
}

.list-title {
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}